@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');

body {
	overflow: hidden;
	background-color: #242424;
	color: white;
}

#main {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	font-family: 'Baloo Tammudu 2', cursive;
	cursor: default;
}

#button-array {
	display: flex;
	flex-direction: row;
	gap: 40px;
}

.link {
	position: relative;
    display: block;
    text-decoration: none;
    font-family: 'Baloo Tammudu 2';
    font-size: 25px;
    color: #ecf0f1;
    text-transform: uppercase;
    padding: 4px 0;
    transition: 0.5s;
}

.link::after {
	position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    top: 80%;
    left: 0;
    background: white;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
}

.link:hover {
  color: #95a5a6;
}
.link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
